#0
{
     -fx-background-color: linear-gradient(#81a8cb, #000033);
}
#zal
{
    -fx-background-color: #000080;
    -fx-text-fill: White;
    -fx-font-size: 15px;
}
#clear
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}

#dodaj
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#edytuj
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#usun
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#zaladuj
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#delete2
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#cancel2
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#anuluj3
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#zatwierdz
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#zapisz
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#clear2
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#cancel
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#save
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}


#11
{
    -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#choose2
{
 -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#search2
{
 -fx-background-color:  #000080;
     -fx-text-fill: White;
      -fx-font-size: 15px;
}
#Przycisk_umow_wizyte{
 -fx-background-color:  #000080;
 -fx-text-fill: White;
 -fx-font-size: 15px;
 }

 #choose
 {
  -fx-background-color:  #000080;
      -fx-text-fill: White;
       -fx-font-size: 15px;
 }